# web
Flask==2.3.3
gunicorn==21.2.0

# vision stack
ultralytics==8.3.70       
opencv-python-headless==4.8.1.78
numpy<2                    

# OCR / DB / env
easyocr==1.7.1
pymongo[srv]==4.6.1
python-dotenv==1.0.1